<div class="game <%= side %>" id="<%= idtext %>">
    <div>
      <span class="seeding"><%= p.seeding1 %></span>
      <span class="teamName"><%= p.team1 %></span>
    </div>
    <div>
      <span class="seeding"><%= p.seeding2 %></span>
      <span class="teamName"><%= p.team2 %></span>
    </div>
</div> 
