<%= form_for(@tournament) do |f| %>
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% @tournament.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div>Name: <%= f.text_field :name %></div>
  <div>Start Time: <%= f.text_field :start_time %></div>

  <%= f.fields_for :seedings do |builder| %>
    <div>Team: <%= builder.text_field :team %></div>
    <div>Seed: <%= builder.text_field :seed %></div>
    <div>Region: <%= builder.text_field :region %></div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
