<%= form_for(@tournament) do |f| %>
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% @tournament.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div>Name: <%= f.text_field :name %></div>
  <div>Start Time: <%= f.text_field :start_time %></div>

  <table>
	  <tr>
		  <th>Seed</th>
		  <th>Team</th>
		  <th>Region</th>
	  </tr>
  <%= f.fields_for :seedings do |builder| %>
	  <tr>
		  <td><%= builder.object.seed %></td>
		  <td><%= builder.text_field :team %></td>
		  <td><%= builder.object.region %></td>
		  <td></td>
	  </tr>
  <% end %>
  </table>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
